<template>
  <div class="v-{{kebabName}}">
    {{name}} 施工中 ...
    <dev-section title="基本使用">
      <re-{{kebabName}}></re-{{kebabName}}>
    </dev-section>
  </div>
</template>

<script setup>
import Re{{name}} from '@/components/{{folder}}/Re{{name}}.vue';

</script>

<style lang="scss" scoped>
</style>
